@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 5000px;
}
.container{
    background-color: #fff;
    height: 100%;
}
.header{
    height: 100vh;
    background-color: #fff;
}
.cust{
    color: rgb(104, 104, 104);
    left: 0;
    top: 0;
    font-size: 3.7rem;
    float: right;
    transition: all .25s;
    margin: 2px 2px 0 0;
    cursor: pointer;
}
header .cust:hover,
header .cust:active{
    transform: rotate(50deg);
    z-index: 1;
}
.blur{
    filter: blur(.5px);
    background-color: rgba(0, 0, 0, .5);
    transition: all .5s ease-in-out;
}
.modal-cust{
    width: 75%;
    height: 100vh;
    position: fixed;
    left: 100%;
    background-color: #424242;
    transition: all .5s ease-in-out;
    z-index: 999;
}
.modal-cust .cust{
    color: #fff;
    width: 99.5%;
    vertical-align: text-bottom;
    padding: 1% 0 0 2%;
}
.modal-cust .cust i{
    transition: all .5s;
}
.modal-cust .cust i:hover{
    transform: rotate(180deg);
}
.is-active{
    left: 25%;
}
.dark-theme img{
    filter: invert(100) hue-rotate(180deg);
}
.light-theme{
    filter: invert(0) hue-rotate(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.dark-theme{
    filter: invert(100) hue-rotate(180deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.btn-theme{
    top: 0;
    font-size: 2.7rem;
    float: left;
    display: block;
    color: rgb(216, 216, 216);
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.customize{
    width: 100%;
    height: 10%;
    text-align: left;
    color: rgb(202, 202, 202);
    padding: 20px 0 0 10px;
    display: flex;
}
.customize p{
    vertical-align: middle;
    font-size: 1rem;
    padding: 1% 0 0 5px;
    font-family: 'Syne Mono', monospace;
}